
* {
  background-color: #FFF9F9;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

header {
  margin: 25px 0px;
  text-align: center;
}

h1 {
  font-size: 54px;
}

.h1-first {
  color: #B4B5AD;
}

.h1-second {
  color: #354459;
}

#logo {
  height: 60px;
  margin-left: 2px;
  width: 90px;
}

#color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color {
  align-items: center;
  background-color: #FFF4F4;
  border: 2px solid black;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-end;
  text-align: flex-end;
  width: 225px;
}

.unlocked {
  background-color: transparent;
  background-image: url("images/unlocked.svg");
  background-size: cover;
  display: flex;
  height: 45px;
  padding-bottom: 10px;
  width: 50px;
}

.locked {
  display: none;
  background-image: url("images/locked.svg");
  background-image: cover;
  height: 45px;
  padding-bottom: 10px;
  width: 50px;
}

#create-palette {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#generate-btn {
  border: 1px solid black;
  border-radius: 9px;
  font-size: 16px;
  height: 40px;
  margin: 15px 0px;
  width: 215px;
}

.palette-name {
  border: 1px solid black;
  border-radius: 9px;
  font-size: 17px;
  height: 25px;
  margin-bottom: 10px;
  text-align: center;
  width: 292px;
}

.hex-value {
  background-color: transparent;
}

.card-bottom {
  align-items: center;
  border-top: 2px solid black;
  display: flex;
  height: 75px;
  justify-content: space-around;
  width: 100%;
}

.palette-names {
  display: flex;
  justify-content: center;
}

#select-form {
  height: 29px;
  margin-right: 3px;
}

#save-palette-btn {
  border-radius: 9px;
  height: 29px;
  margin-left: 5px;
}

#project-palette {
  display: flex;
  flex-direction: row;
  margin: 15px 30px;
}

#save-project {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.projects {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  width: 60%;
}

#save-project-btn {
  border: 1px solid black;
  border-radius: 9px;
  font-size: 16px;
  height: 40px;
  margin: 15px 0px;
  width: 215px;
}

#project-generate-btn {
  border: 1px solid black;
  border-radius: 9px;
  font-size: 17px;
  height: 25px;
  margin: 7px;
  text-align: center;
  width: 275px;
}

.bottom-tags {
  font-size: 29px;
  margin: 7px;
  text-align: center;
}

#palette-name-input {
  border: 1px solid black;
  border-radius: 9px;
  font-size: 17px;
  height: 25px;
  margin: 7px;
  text-align: center;
  width: 292px;
}

.temp-color {
  background-color: red;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 25px;
  margin: 7px;
  width: 25px;
}

.template-color-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px
}

.trash-can {
  height: 25px;
  margin-left: 20px;
  width: 25px;
}

.palette-card-name {
  margin: 5px 10px;
  text-align: left;
 
}

.project-templates {
  display: flex;
  flex-direction: column;
}

span {
  text-align: left;
  margin: 10px 10px;

}

