
* {
  background-color: #FFF9F9;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

header {
  margin: 25px 0px;
  text-align: center;
}

h1 {
  font-size: 54px;
}

.h1-first {
  color: #4CD1E8;
}

.h1-second {
  color: #FFCC72;
}

#logo {
  height: 60px;
  margin-left: 2px;
  width: 90px;
}

#color-palette {
  display: flex;
  flex-wrap: wrap;
}

.color {
  align-items: flex-end;
  background-color: #FFF4F4;
  border: 2px solid black;
  border-radius: 9px;
  display: flex;
  height: 285px;
  justify-content: center;
  margin: 7px 15px;
  text-align: center;
  width: 253px;
}

.unlocked {
  background-color: transparent;
  display: flex;
  height: 45px;
  padding-bottom: 45px;
  width: 45px;
}

#create-palette {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#generate-btn {
  border: 1px solid black;
  border-radius: 9px;
  font-size: 16px;
  height: 40px;
  margin: 15px 0px;
  width: 215px;
}

#palette-name {
  border: 1px solid black;
  border-radius: 9px;
  font-size: 17px;
  height: 25px;
  margin-bottom: 10px;
  width: 175px;
}

